@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** stylo de el contenedor para la barra de navegaciòn  */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #14131b;
}

.sidebar .logo-detalle {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
}

/* Detalles del logo */
.sidebar .logo-detalle i {
    font-size: 30px;
    color: #fff;
    /* background-color: red; */
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}

.sidebar .logo-detalle .nombre_logo {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
}

/* links de modulo */
.sidebar .nav-links {
    background-color: #14131b;
    height: 100%;
    padding-top: 30px;
}

/* lines de modulos */
.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all o.4s ease;
    ;
}

.sidebar .nav-links li:hover {
    background: #858181;
}

/* lines de modulos */
.sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    /* codigo extra */
    /* padding-left: 20px; */
}

/* lines de modulos */
.sidebar .nav-links li a {
    /* display: flex; */
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.sederbar .nav-links li .iocn-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* sub menu de los modulos */
/* .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background-color: #1d1b31;
    display: none;
}


.link_sub_menu {
    color: #fff;
    font-size: 15px;
    padding: 5px 0px;
}

.sub-menu{
    position: absolute;
    left: 100%;
    top: 0;
} */


/** perfil css */

.sidebar .perfil-detalles {
    /* position: relative; */
    /* margin-top: 34%; */
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1d1b31;
    padding: 6px -10px;
    /* background-color: rgb(37, 247, 55); */
}


.sidebar .perfil-detalles img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 26px;
    margin: 0 5px 0 5px;
    /* background: #1d1b31; */
    padding: 10px;
    /* background-color: yellow; */
}

.nombre-rol,
.nombre-usuario {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    /* background-color: aqua; */
    /* padding-left: 0%; */
}

.nombre-rol {
    font-size: 12px;
    /* background-color: red; */
    /* padding-left: 0%; */
}

.contenido-perfil {
    display: flex;
    align-items: center;
    background-color: #1d1b31;
}

/* CSS para ocultar la barra de navegación */

.home-section {
    position: relative;
    background: #e4e9f7;
    height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
}

.home-section .home-content {
    height: 60px;
    display: flex;
    align-items: center;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
    color: #11101d;
    font-size: 30px;
    margin: 0 7px;
}

.home-section .home-content .bx-menu´ {
    margin: 0 15px;
}

.home-section.home-content .text {
    font-size: 26px;
    font-weight: 600;
}

/** // css para el frame */

.marco {
    width: 100%;
    height: 100%;
    border: none;
}

/* style de el body del index */
                    
/* .fondo{
    overflow-y: scroll;
} */

::-webkit-scrollbar{
    display: none;
}